@import url("http://fonts.cdnfonts.com/css/nangorians");
@import url("http://fonts.cdnfonts.com/css/metamorphose-requiem");
body {
  background-image: url(../img/estrella.jpg);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  backdrop-filter: contrast(50%);
}

.row {
  margin-bottom: 20px;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #363636;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #959501;
}
.navbar .logo a img {
  width: 120px;
  height: 70px;
}

.container {
  background-color: #363636;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
header .logoS {
  width: 100%;
  height: 100%;
  margin: auto;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
}

.resumen {
  margin-top: 15px;
}
.resumen .txt h3 {
  font-size: 50px;
  text-align: center;
  font-family: "Metamorphose Requiem", sans-serif;
  text-shadow: 1px 1px 1px rgba(182, 182, 5, 0.8);
}
.resumen .textoInfo {
  font-size: 28px;
  text-align: center;
  color: #f3ea9a;
  text-shadow: 1px 1px 1px rgba(182, 182, 5, 0.8);
  font-family: "Nangorians", sans-serif;
}

.autor .flex-autor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.autor .titulo h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Metamorphose Requiem", sans-serif;
  text-shadow: 1px 1px 1px rgba(182, 182, 5, 0.8);
  margin: 10px;
}
.autor .txtMasami {
  font-size: 28px;
  font-family: "Nangorians", sans-serif;
  text-shadow: 1px 1px 1px rgba(182, 182, 5, 0.8);
  color: #f3ea9a;
  text-align: center;
  padding: 10px;
}

.tomos .title-crono .cronologia {
  font-size: 50px;
  font-family: "Metamorphose Requiem", sans-serif;
  text-shadow: 1px 1px 1px rgba(182, 182, 5, 0.8);
}
.tomos .cards {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.tomos .cards .card {
  width: 200px;
  height: 400px;
  padding: 0;
  margin: 10px;
  border-radius: 10px;
}
.tomos .cards .card .container-card {
  width: 100%;
  height: 100%;
  background-color: #f3ea9a;
  border-radius: 10px;
}
.tomos .cards .card .container-card .text-card {
  font-size: 23px;
  font-family: "Nangorians", sans-serif;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 1px rgba(182, 182, 5, 0.8);
}
.tomos .cards .card .container-card .img-card {
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 99% 85%, 1% 98%);
  width: 100%;
  height: 90%;
  transition: all 1s ease;
  border-radius: 10px;
}
.tomos .cards .card .container-card .img-card:hover {
  cursor: pointer;
  transition: all 1s ease;
}
.tomos .cards .card .container-card .img-card:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.tomos .cards .card .container-card .img-card.card-1 {
  background-image: url(../img/tomo1.jpg);
}
.tomos .cards .card .container-card .img-card.card-2 {
  background-image: url(../img/tomo2.jpg);
}
.tomos .cards .card .container-card .img-card.card-3 {
  background-image: url(../img/tomo3.jpg);
}
.tomos .cards .card .container-card .img-card.card-4 {
  background-image: url(../img/tomo4.jpg);
  background-position: 50%;
}

/*# sourceMappingURL=main.css.map */
